<link href="https://fonts.googleapis.com/css2?family=Spartan:wght@500&display=swap" rel="stylesheet">

body{
	background-color : #fcfbf6;
	color:#611ec0;
}

.navigation_bar{
	width:100%;
	top:0vw;
	left:0vw;
	position:fixed;
	font-family:"Arial";
	font-size:1vw;
	font-weight : bold;
	list-style-type:none; 
	overflow : hidden;
	background-color : transparent;
	z-index:100;
	box-shadow: 0vw 0vw 0.3vw 0vw #6d6564;
}

.navigation_bar li{
	float : left;
}


.navigation_bar li a{
	color: #611ec0;
	display : block;
	text-align : center;
	padding : 2vw;
	text-decoration : none;
}


.navigation_bar li a:hover{
	color:#e65988!important;
	text-decoration:underline;
}

.img_home{
	max-height:3vw; 
	max-width:3vw;
}

.home_style{
	padding:1vw !important;
	margin-right: 38vw !important;
	text-align:center;
}

#hovered_home{
display:none;
}

#home:hover span[id="initial_home"] {
  display: none;
}
#home:hover span[id="hovered_home"] {
  display: block;
}

.img_style_index {
	left:50%;
	top:20%;
	position:absolute;
}

.bg_index {
	position : absolute;
	width:1024px;
	height:688px;
}

.text_index{
	position:relative;
	z-index:1;
	left:15%;
	top:30vw;
	color:#611ec0;
	font-weight:bold;
	font-size:25px;
	font-family:"Arial";
}

.text_index p{
	margin:0;
}
.aboutMe_btn{
	font-weight:bold;
	font-size:30px;
	text-decoration : none;
	width:24vw;
	border: 2px solid #611ec0;
	background-color:transparent;
	color : #611ec0;
	transition-duration : 1s;
	cursor : pointer;
	text-align:center;
	margin:1% 2px 1% 5%;
	padding:10px 5px 10px 5px;
	border-radius:5px;
	
}

.aboutMe_btn:hover{
	color : white;
	background-image :linear-gradient(#611ec0,#8647e0);
	border: 2px solid transparent;
}

.myEdu_link{
	margin-left:12%;
	font-size:15px;
	font-weight:normal;
	color:blue;
}

/*--------- contact me ----------------- */
#contactDiv{
	background-color:rgba(243,241,231,0.7);
	word-warp:break-word;
	width:400px;
	top : 2vw;
	font-family:"Spartan",Arial;
	color:#50545A;
	margin-left:5vw;
	margin-top:10vw;
	border-radius:5px;
	padding:3px 0 3px 3vw;
}

#contactDiv h1{
	margin-left:-1vw;
	margin-bottom:0px;
	font-size:50px;
}

#subcaptionContactDiv h4{
	display:inline-block;
	margin:0;
}

#socialMedias{
	display:flex;
	flex-direction:row;
	cursor:pointer;
}
.miniContactIcon{
	width:20px;
	height:20px;
}

.mediumContactIcon{
	margin-right:1vw;
	margin-bottom:1vw;
	width:100px;
	height:100px;
}

#contactDiv h3{
	padding:0 0 0 1vw;
	margin:0;
}

#picNtitle{
	display:flex;
	flex-direction:row;
	margin-top:2vw;
	margin-bottom:1vw;
}

#formDiv{
	box-shadow:0px -11px 8px -10px #FFF;
	position : relative;
	border-radius:10px;
	background-image:linear-gradient(to bottom, #F4D0DE, #FACBB1);
	display: block; 
	text-align:center;
	width : 100%;
	height : auto;
	top : 2vw;
	padding-bottom:2vw;
}

#formDiv h1{
	padding-bottom:1vw;
	font-size:50px;
	font-family:'Spartan',Arial;
}

#formDiv input{
	height:6%;
	width : 50%;
	margin-top :2px;
	border-radius:5px;
	border : 1px solid #716040;
}

#formDiv textarea{
	width:50%;
	border : 1px solid #716040;
	border-radius:5px;
}

::placeholder{
	text-align:center;
}

.contact_button:disabled{
	color:red;
	background-color:#ccc;
	border:1px solid #ccc;
}

.contact_button:disabled:hover{
	color:red;
	background-color:#ccc;
	border:1px solid #ccc;
}
.contact_button{
	font-size:10px;
	font-weight:bold;
	color:#611ec0;
	background-color:#fff;
	transition-duration:1s;
	cursor:pointer;
}

.contact_button:hover{
	background-color:transparent;
}